* {
  margin: 0;
  padding: 0; }

body {
  background-color: black; }

.shake {
  animation: shake .3s; }

@keyframes shake {
  0% {
    transform: translate(0px, 0px); }
  25% {
    transform: translate(2px, 0px); }
  50% {
    transform: translate(2px, 2px); }
  75% {
    transform: translate(0px, 2px); }
  100% {
    transform: translate(0px, 0px); } }
.titleScene h1 {
  text-align: center;
  font-size: 48px;
  color: white; }
.titleScene .buttons {
  position: fixed;
  bottom: 32px;
  left: 0;
  right: 0; }
.titleScene .center {
  text-align: center; }
.titleScene button {
  width: 160px;
  height: 44px;
  margin-top: 8px;
  margin-bottom: 8px; }

.setupScene {
  padding: 8px 8px; }
  .setupScene h1 {
    font-size: 36px;
    color: white; }
  .setupScene .form input {
    width: 100%;
    height: 44px;
    font-size: 28px; }
  .setupScene .right {
    text-align: right; }
  .setupScene button {
    padding: 4px 16px;
    height: 44px;
    margin-top: 16px; }

.mazeScene canvas {
  display: block;
  width: 320px;
  height: 320px;
  margin: 8px auto; }
.mazeScene .msg {
  position: fixed;
  background-color: black;
  border: 2px solid white;
  color: white;
  width: 304px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 16px;
  white-space: pre-wrap; }
.mazeScene .buttons {
  width: 320px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 8px auto; }
  .mazeScene .buttons button {
    width: 44px;
    height: 44px; }
  .mazeScene .buttons .ok {
    width: 320px; }
  .mazeScene .buttons .yesno {
    width: 320px;
    margin-top: 8px; }
  .mazeScene .buttons .camp {
    position: absolute;
    bottom: 0;
    right: 0; }

.campScene .title {
  color: white;
  text-align: center;
  border: 2px solid white;
  padding: 2px 4px; }
.campScene .state {
  color: white;
  border: 2px solid white;
  width: 320px;
  margin: 4px auto; }
  .campScene .state .name {
    text-align: left; }
  .campScene .state .val {
    text-align: right; }
.campScene .buttons {
  width: 320px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 8px auto; }
  .campScene .buttons button {
    width: 320px;
    height: 44px;
    margin-top: 8px; }

.battleScene .background {
  position: fixed;
  width: 320px;
  height: 320px;
  top: 0;
  left: 0;
  right: 0;
  margin: 8px auto;
  background-color: black; }
.battleScene .msg {
  position: fixed;
  background-color: black;
  border: 2px solid white;
  color: white;
  width: 304px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 16px;
  white-space: pre-wrap; }
.battleScene .enemyImages {
  display: flex;
  justify-content: space-around;
  margin-top: 136px; }
  .battleScene .enemyImages img {
    width: 48px;
    height: 48px; }
.battleScene .buttons {
  position: fixed;
  width: 320px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 8px auto; }
  .battleScene .buttons .state {
    width: 300px;
    background-color: black;
    color: white;
    border: 2px solid white;
    margin: 0 auto; }
    .battleScene .buttons .state .name {
      text-align: left; }
  .battleScene .buttons button {
    height: 44px; }
  .battleScene .buttons .ok {
    width: 320px; }
  .battleScene .buttons .commands {
    display: flex;
    justify-content: space-around; }

.gameOverScene .center {
  position: fixed;
  width: 320px;
  height: 64px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
.gameOverScene h1 {
  text-align: center; }
.gameOverScene .button {
  text-align: center; }
